.checkoutPage {
  background-color: white;
}

input:not(input[type="radio"]) {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 0 12px;
  border: 1px solid #f1f2f6;
  border-radius: 8px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.3px;
  appearance: none;
  background-color: #f1f2f6;
  box-shadow: none;
  caret-color: #a1a9c3;
  color: #132968;
  transition: border 0.15s;
  &.inputError.ng-invalid.ng-touched {
    background-color: rgb(255, 242, 241);
    border: 1px solid rgb(223, 27, 10);
    &:hover,
    &:focus {
      border: 1px solid rgb(223, 27, 10);
    }
  }
  // padding-left: 35px;
  &:hover,
  &:focus {
    border: 1px solid #a1a9c3;
    outline: 0;
  }
  &::placeholder {
    color: #a1a9c3;
    opacity: 1;
  }
}

div.radio {
  label {
    font-size: 19px;
    display: flex;
    input {
      margin-right: 10px;
    }
  }
}

input[type="radio"] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--a);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

label {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: left;
  line-height: 24px;
  color: rgb(66, 84, 134);
  font-size: 14px;
  font-weight: 400;
  cursor: default;
  margin-top: 30px;
}

.validationError {
  line-height: 16px;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 13px;
  color: rgb(223, 27, 10);
}

.group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
  > div {
    width: 45%;
  }
}

.checkout__order {
  background: #f3f2ee;
  padding: 30px;
}

.checkout__order .order__title {
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.checkout__order__products {
  font-size: 16px;
  color: #111111;
  overflow: hidden;
  margin-bottom: 18px;
}
.checkout__total__products {
  margin-bottom: 20px;
}
.checkout__total__all {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 15px 0;
  margin-bottom: 26px;
}
.site-btn {
  font-size: 14px;
  color: #ffffff;
  background: #111111;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 30px;
}

.checkout__total__products li span {
  color: #111111;
  float: right;
}

.checkout__total__all li span {
  color: #e53637;
  font-weight: 700;
  float: right;
}
li {
  font-size: 18px;
}
