<ng-container *ngIf="isCategoriesLoading">
  <p>Loading Product..</p>
</ng-container>

<ng-container *ngIf="!isCategoriesLoading">
  <p *ngIf="loadedCategories.length == 0">NO Categories available</p>
  <ul *ngIf="loadedCategories.length > 0">
    <li *ngFor="let category of loadedCategories">
      <div class="product">
        <h4>{{category.name}}</h4>
        <p>{{category.categoryID}}</p>
        <p>{{category.description}}</p>
        <button type="button" class="btn btn-primary" (click)="onEdit(category.categoryID)">Edit</button>
        <button type="button" (click)="onDeleteButton(category.categoryID)">delete</button>
      </div>
    </li>
  </ul>

  <app-alert-confirm></app-alert-confirm>


</ng-container>

