<div class="categoryViewPage">

  <div class="header">
    <h3>Product Details</h3>
    <p>
      In the Product details section, You can review and manage all product with their
      details. You can view and edit many information such as name or all product,
      arabic name, descriptor, price and quantity in stock. Access to this area is
      limited. Only administrators can reach. The changes you make
      will be will change immediately.
    </p>
  </div>
  
  <router-outlet></router-outlet>
  
  <app-pagination itemsName="products"></app-pagination>
  
</div>
