<!-- <app-products-view-admin></app-products-view-admin> -->

<!-- <app-product-edit-admin></app-product-edit-admin> -->
<div class="row center">
  <div class="col-2">
    <li role="presentation" routerLinkActive="active"><a routerLink="/products">Products</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/createProduct']">Create Product</a></li>

    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/categories']">Categories</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/createCategory']">Create Category</a></li>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>

