<div class="categoryViewPage">
  <div class="header">
    <h3>Category Details</h3>
    <p>
      In the Category details section, You can review and manage all Category with their
      details. You can view and edit many information such as name of all Category,
      description and parent category . Access to this area is
      limited. Only administrators can reach. The changes you make
      will be will change immediately.
    </p>
  </div>
  
  <router-outlet></router-outlet>
  
  
  <app-pagination itemsName="categories"></app-pagination>
</div>
