<div class="container">
  <div class="pageContent">
    <div class="ordersHeaderContainer">
      <li
        *ngFor="let order of allOrderHeader; let i = index"
        role="presentation"
        routerLinkActive="active"
        [routerLink]="order.orderId"
      >
        <h4 class="id">{{ i+1 }}</h4>
        <p class="address">{{ order.country }}, {{ order.city }}, {{ order.address }}</p>
        <p>{{ order.phone }}</p>
        <p>{{ order.paymentMethod }}</p>
        <p>Items Count: {{ order.itemsCount }}</p>
        <p>Order Total Price: {{ order.totatlPrice }}</p>
      </li>
    </div>
    <div class="orderDetails col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
